@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");

:root {
	--highlight: rgba(119, 23, 23, 0.74);
}

.app {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-family: "Raleway", sans-serif;
}

nav ul {
	list-style: none;
	display: flex;
	justify-content: center;
	margin: 1.5rem 0;
	padding: 0;
}

nav ul li a {
	margin: 0.5rem;
	padding: 0 0.5rem;
	font-size: 1.5rem;
	text-decoration: none;
	font-weight: 700;
	color: var(--highlight);
	cursor: pointer;
	border-bottom: 2px solid var(--highlight);
}

header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 1.5rem 0;
}

header,
h1,
input {
	margin: 1rem 0;
}

header input {
	font-size: 1rem;
	padding: 0.5rem;
	border: 2px solid black;
	border-radius: 5px;
}

main {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	padding: 1rem;
}

.loader {
	margin: 10rem 0;
	display: block;
	font-size: 4rem;
}

.country-card {
	text-decoration: none;
	width: 30vw;
	height: auto;
	border: 2px solid black;
	border-radius: 5px;
	margin: 0.5rem 0;
	margin: 0.5rem;
	position: relative;
	box-shadow: 0 0 3px black;
	transition: all 0.2s ease-in-out;
}

.country-card:hover {
	box-shadow: 0 0 13px black;
}

p {
	padding: 0 1rem;
	color: black;
}

.card-header {
	background-color: var(--highlight);
	padding: 0.5rem;
}

.card-header h2,
.card-header p {
	color: white;
	margin: 0;
	padding: 0.5rem;
}

img {
	height: 40px;
	width: 40px;
	border: 2px solid black;
	border-radius: 50%;
	position: absolute;
	top: -8px;
	right: -8px;
	background-color: white;
	-o-object-fit: cover;
	object-fit: cover;
}

span {
	font-weight: 800;
}

.home,
.country-single {
	text-align: center;
	padding: 2rem;
}

.home h1,
.home p {
	margin: 2.5rem 0;
}

.weather-icon {
	height: 50px;
	width: 50px;
}
